<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-white">
  <div class="col-md-5 p-lg-5 mx-auto my-5 top">
    <h1 class="display-4 font-weight-normal">About</h1>
    <p class="lead font-weight-normal">So, what is <i>Avaline</i>?</p>
  </div>
</div>
<div class="container">
  <p>
    A simple yet powerful and accessible bot powered by a small team of developers based in the UK. With input from experienced Discord users, this bot offers what you need from memes. Because everyone loves memes to role management because who can be bothered to assign them all... It's powered by a professional grade host that owns its own hardware meaning no downtime due to company issues.
  </p> 
</div>
