<div class="jumbotron bg-dark text-white">
  <h1 class="display-4">Avaline!</h1>
  <p class="small">v{{config.version.bot}}</p>
  <p class="lead">An <b>awesome</b> bot.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{{config.invite.bot}}" class="btn btn-primary btn-lg">Invite the Bot</a>
    <a href="{{config.invite.server}}" class="btn btn-primary btn-lg">Join the server</a>
  </div>
  <a class="btn btn-primary btn-lg" href="{{href.about.url}}" role="button">Learn more</a>
</div>
<iframe src="https://discordapp.com/widget?id=450745183357894667&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
