<h2>This is Avaline v{{version}}</h2>
<br />
<p>
  <a href="{{inviteBot}}">Invite me to your server</a>
</p>
<p>
  <a href="{{inviteServer}}">Join the support server</a>
</p>
<iframe src="https://discordapp.com/widget?id=450745183357894667&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
